<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts :: header">
    <meta charset="UTF-8">
    <title>Students</title>
</head>
<body>
<nav th:replace="layouts :: navbar"></nav>
<table class="table">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Firstname</th>
        <th scope="col">Lastname</th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="student : ${students}">
        <td th:text="${student.getId()}"></td>
        <td th:text="${student.getFirstname()}"></td>
        <td th:text="${student.getLastname()}"></td>
        <td>
            <a class="btn btn-primary" th:href="@{/people/student/{studentId}(studentId=${student.getId()})}"
               role="button">More</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>