<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts :: header">
    <meta charset="UTF-8">
    <title>Student</title>
</head>
<body>
<nav th:replace="layouts :: navbar"></nav>
<table class="table">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Firstname</th>
        <th scope="col">Lastname</th>
        <th scope="col">Gender</th>
        <th scope="col">Study Year</th>
        <th scope="col">Date of birth</th>
    </tr>
    </thead>
    <tbody>
    <tr th:object="${student}">
        <td th:text="${student.getId()}"></td>
        <td th:text="${student.getFirstname()}"></td>
        <td th:text="${student.getLastname()}"></td>
        <td th:text="${student.getGender()}"></td>
        <td th:text="${student.getStudyYear()}"></td>
        <td th:text="${student.getDateOfBirth()}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>