<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts :: header">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav th:replace="layouts :: navbar"></nav>
<table class="table">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Students</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="group : ${groups}">
        <td th:text="${group.getId()}"></td>
        <td th:text="${group.getName()}"></td>
        <td>
            <a class="btn btn-primary" th:href="@{/groups/{groupId}(groupId=${group.getId()})}"
               role="button">Students</a>
        </td>
    </tr>
    </tbody>
</table>
</table>
</body>
</html>